*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
h1{
    color: purple;
    font-family: serif; /*Esto tampoco se esta haciendo porque como # del id tiene mas importancia hara ese primero, pero el color y el margin si se estan hciendo porque la etiqueta de id no esta aplicando colores*/
    margin-bottom: 10px;

}
.title{
    font-size: 18px;
    font-family: monospace; /*Esto aqui no hace nada porque arriba estoy usando un id y un id es mas importante que una clase */
}
.nav{
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0px;
}
.nav li {
    display: inline-block;
}

.nav a { /*Specificity*/
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.nav .blog{ /*Aqui le estoy dicinedo que busqye una etiqueta blog en una nav esto me da una especificas 0 2 0 es decir dos clases
    lo que hace que le de as importancia que nav a que tiene 1 clase y 1 etiqueta y ya sabemos que las clases importan mas que las etiquetas*/
    background-color: red;
}