*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    width: 100%;
    height: 100%;
}
html{
    font-size: 62.5%;
}
header{
    background-color: #1D4C78;
    min-width: 80rem;
    
}
.logo{
    padding-left: 10.5rem;
    line-height: 7.3rem;
    display: inline-block;
    position: absolute;
}
.logo img{
    vertical-align: middle;
    width: 18rem;
}
.nav{
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
    list-style: none;
    text-align:right;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
    font-family:monospace;
}
.nav li{
    display: inline-block;
    font-size: 2.0rem;
    margin: 0.5rem;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}
.side-bar{
    position: absolute;
    background-color: gray;
    height: 92.8%;
    width: 40rem;
    display: flex;
    align-items: center;
    /*max-width: 80rem;*/
    /*min-width: 10rem;*/
}
.side-bar ul{
    /*height: 100%;*/
    margin: 0 auto;
    display: table;
    list-style: none;
}
.side-bar figure{ /*Aqui estan heredando todos los figure*/
    position: relative;
    background-color: #9c9c9c;
    border-radius: 2rem;
    width:  30rem;
    height: 18rem;
    margin: 2rem;
    padding: 2rem;
}
.side-bar img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25rem; 
}
.main-content{ /*Esta vaina centra todo, exitaso*/
/*https://www.w3schools.com/css/css_align.asp*/
    position: absolute;
    background-color: #9c9c9c;
    margin-left: 40rem;
    width:  152rem;
    height: 92.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main-content iframe{
    width: 80rem;
    height: 60rem;
    position: absolute;
}