*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.c1, .c2, .c3, .c4, .c5{
    width: 100%;
    min-width: 150px;
    height: 150px;
}
.c1{
    background-color: green;
}
.c2{
    background-color: greenyellow;
}
.c3{
    background-color: khaki;
}
.c4{
    background-color: lightgreen;
}
.c5{
    background-color: lemonchiffon;
}
@media(min-width: 600px){
    .c1{
        width: 25%;
        order: 1;
    }
    .c2{
        width: 75%;
        order: 2;
    }
    .c3{
        width: 100%;
        order: 3;
    }
    .c4{
        width: 100%;
        order: 4;
    }
    .c5{
        width: 100%;
        order: 5;
    }



}
@media(min-width: 800px){
    .c1{
        width: 30%; /*Como podemos observar C1 C2 Y C3 sumando los porcentajes hacen que el width sea del 100% pero copn solo que uno de estos sobre pase el 100% lo pasa al abajo*/
        order: 1;
    }
    .c2{
        width: 40%;
        order: 2;
    }
    .c3{
        width: 30%;
        order: 3;
    }
    .c4{
        width: 50%;
        order: 4;
    }
    .c5{
        width: 50%;
        order: 5;
    }

}
